body {
    margin: 10px;
    overflow-x: hidden;
}

* {
    font-family: 'Nunito';
}

/* Color library */

    :root {
        --brand-color: #6610F2;
        --second-brand-color: #1A8FE3;
        --first-color: #2EE696;
        --second-color: #E6C229;
        --third-color: #F17105;
        --forth-color: #D11149;

    }

/* Side-nav*/

.SideNav {
    height: calc(100% - 20px);
    width: 150px;
    position: fixed;
    border-radius: 30px;
    text-align: center;

    background-color: var(--brand-color);
    box-shadow: 3px 4px 10px lightgray;
}

.SideNav-logo {
    position: fixed;
    left: 20px;
    top: 20px;
}

.SideNav-secciones {
    list-style: none;
    padding: 0px;

    height: calc(100% - 20px);

    color: white;

/* Posición de los iconos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

/* Tamaño iconos */
.material-icons-outlined.md-48 { font-size: 48px; }

/* ------- */

/* Perfil */

.UserProfile {
    position: fixed;
    right: 55px;
    top: 30px;
    background-color: white;
    box-shadow: 3px 4px 10px lightgray;
    width: 300px;
    height: 100px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.UserProfile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.UserProfile-title {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

/* ------- */

/* Contenedor principal */

.SectionTitle {
    font-size: 40px;
    font-weight: 700;
    margin-left: 12%;
    margin-top: 3%;
    width: calc(100% - 200px);
    float: left;
}