* {
    font-family: 'Nunito';
    }

    body{
        background: linear-gradient(to right, #6610F2, white);
        color:white;
    }
    .Contenedor{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        width: 100%;
       /*background-color: aqua;*/
        justify-content: space-evenly;
    }

    .Caja{
        background-color: #6610F2;
        width: 30%;
        height: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 10%;
        text-align: center;
        align-items: center;
        padding-top: 1%;
        box-shadow: 8px 8px 15px rgb(84, 84, 84);
    }

    .Titulo{
        font-size: 100px;
        margin: 0px;
        margin-bottom: 40px;
    }

    label{
        color:white;
    }

    .Formulario {
        margin: 10px auto;
        padding: 10px 20px;
        border-radius: 8px;
        text-align: left;
    }

    .Formulario input[type="text"],
    .Formulario input[type="email"],
    .Formulario input[type="password"],
    .Formulario textarea,
    .Formulario select {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 20px;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 80%;
        background-color: #ffffff;
        color: #000000;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
        
    }

    a:link, a:visited {
        text-decoration: none;
        cursor: pointer;
    }

    a:link:active, a:visited:active {
        text-decoration: none;
    }

    .Btn{
        padding: 10px 20px;
        margin: 5px;
        border:none;
        border-radius: 20px;
        width: 100px;
        background-color: white;
    }

    .Btn:hover{
        background-color: rgb(0, 0, 0);
        color:white;
    }

    .Text{
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    @media screen and (max-width: 900px){
        .Contenedor{
            flex-wrap: nowrap;
        }
        .Caja{
        background-color: #6610F2;
        width: 50%;
        height: 50%;
    }

    }


    @media screen and (max-width: 700px){
        .Btn{
        padding: 8px 16px;
        margin: 5px;
        width: 80px;
    }
        .Contenedor{
            flex-wrap: nowrap;
        }
        .Caja{
        background-color: #6610F2;
        width: 50%;
        height: 50%;
    }
        .Titulo{
        font-size: 80px;
    }

    }
