* {
    font-family: 'Nunito';
    }

    /* Color library */

    :root {
        --brand-color: #6610F2;
        --second-brand-color: #1A8FE3;
        --first-color: #2EE696;
        --second-color: #E6C229;
        --third-color: #F17105;
        --forth-color: #D11149;

    }

    body{
        background: linear-gradient(to right, #6610F2,#7b4ef7, rgb(71, 59, 247), #3224f5);
        color:white;
    }
    .Contenedor{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        width: 100%;
       /*background-color: aqua;*/
        justify-content: space-evenly;
    }

    .Caja{
        background-color: white;
        width: 25%;
        height: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 10%;
        text-align: center;
        align-items: center;
        padding-top: 1%;
    }

    .Titulo{
        font-size: 150px;
        font-family: 'Sniglet';
        margin: 0px;
        margin-bottom: 10px;
    }

    label{
        color:black;
    }

    .Formulario {
        margin: 10px auto 0px auto;
        width: 80%;
        padding: 10px 20px;
        border-radius: 8px;
        text-align: left;
    }

    .Formulario input[type="text"],
    .Formulario input[type="email"],
    .Formulario input[type="password"],
    .Formulario textarea,
    .Formulario select {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 20px;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        margin-top: 8px;
        width: 90%;
        background-color: rgb(236, 236, 236);
        color: #000000;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
        
    }

    .Formulario input[type="password"] {
        margin-bottom: 20px;
    }

    a {
        color: inherit;
    }

    a:link, a:visited {
        text-decoration: none;
        cursor: pointer;
    }

    a:link:active, a:visited:active {
        text-decoration: none;
    }

    .Btn{
        padding: 20px 150px;
        margin: 5px;
        margin-bottom: 30px;
        border:none;
        border-radius: 20px;
        background-color: var(--brand-color);
        font-size: 18px;
    }

    .Btn:hover{
        background-color: #5714c4;
        color:white;
    }

    hr {
        width: 80%;
        margin-bottom: 20px;
        margin-top: 0px;
        border: 1px solid lightgray;
    }

    .Text{
        font-size: 23px;
        margin-top: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    @media screen and (max-width: 900px){


        .Text {
            display: none;
            position: fixed;
        }

        .Contenedor{
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
        }
        .Caja{
        background-color: white;
        width: 50%;
        height: 50%;

    }

    .Btn {
        padding: 15px 90px;
    }

    }


    @media screen and (max-width: 700px){
        .Btn{
        padding: 13px 80px;
        margin-bottom: 20px;
    }
        .Contenedor{
            flex-wrap: nowrap;
        }
        .Caja{
        background-color: white;
        width: 50%;
        height: 50%;
    }
        .Titulo{
        font-size: 80px;
    }

    }
