* {
    font-family: 'Nunito';
}

/* Color library */

:root {
    --brand-color: #6610F2;
    --second-brand-color: #1A8FE3;
    --first-color: #2EE696;
    --second-color: #E6C229;
    --third-color: #F17105;
    --forth-color: #D11149;

}

body{
    background: linear-gradient(to right, #6610F2,#7b4ef7, rgb(71, 59, 247), #3224f5);
    color:white;
    overflow-y: hidden;
}

.Contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
   /*background-color: aqua;*/
    justify-content: space-evenly;
}

.Caja{
    background-color: white;
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}

label{
    color:black;
}

.label{
    color: black;
}

.Formulario {
    margin: 10px auto;
    border-radius: 8px;
    width: 80%;
    text-align: left;
}

.Formulario input[type="text"],
.Formulario input[type="email"],
.Formulario input[type="password"],
.Formulario textarea,
.Formulario select {
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 20px;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 90%;
    color: #000000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    
}

.Formulario select {
    width: 95%;
}

.Term{
    color:black;
}

.Term:hover{
    color:var(--brand-color);
    cursor: pointer;
}

a{
    color: inherit;
}

a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active {
    text-decoration: none;
}

.Btn{
    padding: 25px 200px;
    margin: 30px;
    border:none;
    border-radius: 20px;
    background-color: var(--brand-color);
}

.Btn:hover{
    background-color: #5714c4;
    color:white;
}

@media screen and (max-width: 900px){
    .Caja{
    width: 70%;
    height: 85%;
}

}


@media screen and (max-width: 700px){
    .Caja{
    width: 80%;
    height: 85%;
}

.Btn{
    padding: 8px 16px;
    margin: 5px;
    width: 80px;
}

}