/* Contenedor principal */

.MainContainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0px 300px 0px 200px;


    width: calc(100% - 400px);
    height: 100%;
}

.MainContainer-userCard {
    width: 270px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 3px 4px 10px lightgray;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MainContainer-userPicture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.MainContainer-userName {
    margin: 10px;
}

.MainContainer-userTasks {
    width: 180px;
    text-align: left;
    border: 5px solid #6610F2;
    border-radius: 10px;
    padding: 10px;
    
}

.MainContainer-userTasks--notDone {
    color: var(--second-brand-color);
}

.MainContainer-userTasks--done {
    color: var(--first-color);
}

a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
    color:white;
}

a:link:active, a:visited:active {
    text-decoration: none;
    color:white;
}

a:hover{
    color:black;
}